# Python
venv
__pycache__
*.egg-info
build
wd14_tagger_model
# IDE and Editor specific
../lora/.vscode
# CUDNN for Windows
cudnn_windows
# Cache and temporary files
../lora/.cache
.DS_Store
# Scripts and executables
locon
gui-user.bat
gui-user.ps1
# Version control
SmilingWolf
wandb
# Setup and logs
setup.log
logs
# Miscellaneous
uninstall.txt
# Test files
../lora/test/output
../lora/test/log*
test/*.json
../lora/test/ft

# Temporary requirements
requirements_tmp_for_setup.txt
result
# Version specific
0.13.3
*.jpg
*.png
*.npz
presets/*/user_presets/*
.idea/*
